<div class="d-flex bd-highlight main-header">
    <div class="p-2 w-100 bd-highlight">
        <span style="cursor: pointer;">
            COOKING GUIDE APPLICATION
        </span>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight" style="line-height: 1.3;" [routerLink]="['']">
        <button pButton pRipple type="button" icon="pi pi-list" class="p-button-rounded p-button-secondary"></button>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight" style="line-height: 1.3;" [routerLink]="['/favorite']">
        <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-secondary"></button>
    </div>
</div>